body {
background-color: #d67abf86;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #1e7ae4;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}